.header {
    height: 180px;
    padding-top: 1px;
    overflow: hidden;
}

.background-pic {
    width: 100%;
}



.img-box {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 5px solid rgb(0, 166, 255);
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.name {
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px 0px 16px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    width: fit-content;
}

.full-name {
    font-size: 1.7em;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 11px 16px 0px 16px;
}